main>.container {
  padding: 60px 15px 0;
}
.sticky-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100% ;
}
.bgHome{
  background:url(/img/GridBG.png);
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.title{
  font-family: modesto-open-shadow,sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgb(190,255,0)
}
.minHeight{
  height:70vh;
}
body>main{
  margin-top: 50px;
  margin-bottom:10px;
}